/* header */
.navigation {
    background-color: #213B7E;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
    max-width: 1300px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    }

.menu {
    display: flex;
    justify-content: space-between; 
    align-self: center;
    height: 80px;
    max-width: 485px;
    width: 100%;
    }

.kub {
    width: 47px;
    height: 47px;
    left: 86px;
    top: 16px;
}
.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 153px;
    min-height: 50px;
    background-color: #EA5D21;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    }
    
.let {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration-line: underline;
    font-family: 'Roboto', sans-serif;
    width: 113px;
    align-items: center;
} 
.let:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

/* popup */

.ikonka {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    top: -35px;
    right: -30px;
    color: #EA5D21;
    
}
.popup {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    height: 418px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    border: 1px solid #213B7E;
    padding: 26px 28px 56px;
    transform: translate(-50%, -50%);
}

.login-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    }

    .login-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .login-3 {
        box-sizing: border-box;
        max-width: 444px;
        width: 100%;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #808080;
        margin: 30px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #808080;
        left: 498px;
        top: 250px;
    }

    .login-4 {
        box-sizing: border-box;
        max-width: 444px;
        width: 100%;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #808080;
        margin: 30px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #808080;
        left: 498px; 
        top: 361px;   
    }

    .close-btn {
        width: 153px;
        height: 50px;
        background: #EA6113;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        justify-content: center;
    }
  
    
/* main */
.main1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 30px;
    flex-wrap: wrap;
    width: 100%;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0;
    color: #000000;
}
.vid {
    width: 523px;
    height: 316px;
}
.main {
    max-width: 911px;
    /* height: 720px; */
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;
}
.text {
    max-width: 634px;
    height: 109px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    }
em {
    color: #CF5510;
}

/* вставка учимся вместе */
.intro {
    display: flex;
    flex-wrap: wrap;
}
.emu {
    color: #646464;  
}

.blockquote {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
  
}
/* footer */
.footer {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    min-height: 60px;
    background-color: #213B7E;
        
}
.text2 {
    width: 211px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
}

.text3 {
    text-decoration-line: underline;
    width: 211px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;   
}


@media (max-width: 750px) {
   .navigation {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
    .menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; 
    align-self: center;
    height: auto;
    width: auto;
    }
    .let {
    justify-content: space-around;
    padding: 0 2px;
    font-size: 15px;
    }
    .main {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto; 
        }
    .main1 {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 5px;
    }
    .footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    }
    .text {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 5px;
  }
  h2 {
    padding: 0 5px;
  }
  .vid {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.login {
    font-size: 15px;
    width: 80px;
}
}

@media (max-width: 725px) {
    .menu {
        flex-direction: column;
        justify-content: center;   
    }
    .text {
    flex-direction: column;
     justify-content: center; 
     width: 100%;
     width: auto;
     height: auto;
    }
    h2 {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center; 
        width: 100%; 
        padding: 0 5px; 
      }
      .navigation {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
     }
     .main1 {
        padding: 0 5px;
     }
     .text {
        padding: 0 5px;
     }
}
@media (max-width: 525px) {
    .vid {
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center; 
     width: 100%;
    }
    .navigation {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
     }
    } 

    /* студенты */

    .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: block;
    text-align: center;
    color: #000000;
    }

    .name1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        display: block;
        text-align: center;
        color: #000000; 
        text-decoration: none; 
    }

    .new-novichok {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;  
        color: #FFFFFF;
        padding: 2px 6px 2px;
        text-transform: uppercase;
        border-radius: 20px;
        text-decoration: none;
        position: relative;
        left: 110px;
        top: -307px;
        background-color: green;
  }
    .izo-student {
    width: 200px;
    height: 270px; 
    }
    .students {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        margin: 0 auto;
               
    }
    .main-students {
        max-width: 1202px;
        width: 100%; 
        margin: 0 auto;
        flex-grow: 1;
        width: 100%;  
    }

    .student {
        padding-left: 50px;
    }
    
    /* студент Кременевская  */

    .main-student {
        display: block;
        text-align: center;  
        margin: 0 auto;
        flex-grow: 1;
        width: 100%;  
    }
   
    
    /* контакты */
           
   
    .main-kontakt {
        max-width: 1268px;
        min-height: 370px;
        margin: 0 auto;
        width: 100%; 
        padding: 0 5px;  
        flex-grow: 1;
    }
    .maps {
       
       margin: 0 auto;
       height: auto;
       width: 100%;   
    }
    .text4 {
        padding: 0 150px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
    }

    .text5 {
        padding: 0 150px;
        text-decoration-line: underline;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto';
        font-style: normal;

    }
    .text51 {
        padding: 0 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto';
        font-style: normal;

    }

    .text6 {
        padding: 0 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 36px;    
    }
    .text7 {
        padding: 0 157px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 36px;    
    }

        /* курс */

    .video-kurs {
      
        width: 100%;
        max-width: 820px;
        flex-grow: 1;
        min-height: 549.33px;
    }

    .text61 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #000000;
        margin: 6px 0;
    }
    
    
    @media (max-width: 820px) {
    .video-kurs {
        width: 100%; 
        flex-grow: 1;
        height: auto;
    }
    .page {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        min-height: 100vh;
    }
    .iframe {
        width: auto;
        height: auto; 

    }
    }

   
    @media (max-width: 1268px) {
        .map-kontakt {
            width: auto;
            width: 100%;
            }
    }

    @media (max-width: 1250px) {
        .students {
        width: 100%;
        width: auto;
        height: auto; 
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between; 
        align-self: center;
        }
    
    .video-kurs {
        width: 100%; 
    }
    .main-students {
        width: auto;
        height: auto;
        flex-wrap: wrap;  
        width: 100%;  
    }
    }

    @media (max-width: 498px) {
        .students {
        width: 100%;
        width: auto;
        height: auto; 
        flex-wrap: wrap;
        display: flex;
        justify-content: center; 
        align-self: center;
        }
    }

    @media (max-width: 750px) {
        .new-novichok {
        left: 100px;
        top: -300px;   
        }
    }